<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back API MERCADOPAGO</title>
</head>
<body>
    <h2>Servidor montado </h2>

    <h2>Instalaremos Mercado pago </h2>

    <h3>Routes</h3>
     <dl >
         <dt> <b>GET</b> /api/products </dt>
         <dd>Te muestra todo los productos del archivo JSON</dd>
         <dt> <b>POST</b> /api/products/checkout </dt>
         <dd>el response del frontend manda un objeto el cual es el producto y el precio ...<br> se unifica con la preferencia de mercadopago y se envia a la api de mercadopago y devuelve un init point el cual es un sandbox para pagar </dd>
        
     </dl>


</body>
</html>